#InfluxDB
SECRET_INFLUX_TOKEN="token"
SECRET_INFLUX_ORG=org
SECRET_INFLUX_URL=url
SECRET_INFLUX_BUCKET=fuel_prices

# Home Assistant
SECRET_HOMEASSISTANT_URL=url
SECRET_HOMEASSISTANT_TOKEN=token

# Location
# Format: lat_min, lon_min, lat_max, lon_max, square on the map where every interested fuel stations falls in, first coordinate should be lower left and the second upper right
SECRET_LAT_MIN=
SECRET_LON_MIN=
SECRET_LAT_MAX=
SECRET_LON_MAX=

TOP_CHEAPEST_STATIONS=3
FUELTYPE_OF_INTEREST_HA=EURO98,EURO95,AUTOGAS #Allowed values: EURO98, EURO95, AUTOGAS, CNG, DIESEL, DIESEL_SPECIAL, and maybe others but these are the ones I have found in my area