#InfluxDB
secretInfluxToken = "token"
secretInfluxOrg = "org"
secretInfluxUrl = "http://xxxxxxxxx:8086"
secretInfluxBucket = "fuel_prices"

# Home Assistant
secretHomeassistantUrl = "http://xxxxxxxx:8123"
secretHomeAssistentToken = "token"

# Location
# Format: lat_min, lon_min, lat_max, lon_max, square on the map where every interested fuel stations falls in, first coordinate should be lower left and the second upper right
secretBoundingBox = [lat_min, lon_min, lat_max, lon_max]